<html>
<head>
  <title>{{title}}</title>
</head>
<body>
  <table>
    <tr>
    <th colspan="2"> Courses offerred </th>
    </tr>
    <tr>
      <td>1:</td>
      <td>HTML</td>
    </tr>
    <tr>
      <td>2:</td>
      <td>CSS</td>
    </tr>
     <tr>
      <td>3:</td>
      <td>JS</td>
    </tr>
  </table>

</body>

</html>